@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: unset;
  border: none;
  font-family: "Nunito", sans-serif;
  background-color: unset;
  cursor: pointer;
  font-size: 16px;
}

input {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  outline: unset;
  border: 0;
}
